body {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  height: 700px;
  background: rgb(232, 233, 233);
  font-family:"Montserrat", serif;
}
.container {
  width: 800px;
  margin: 0 auto;
  height: 600px;
}
.test-body {
  position: relative;
  width: 800px;
  height: 600px;
}
.card {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 50px 0;
  display: flex;
}
.card-progress {
  position: absolute;
  width: 83.5%;
  border: 2px solid black;
  border-radius: 2em;
  height: 2%;
  top: -4%;
  left: 8%;
}
.card-progress-line {
  width: 0%;
  height: 100%;
  background: #5FC900;
  border-radius: 2em;
}
.card-question {
  position: absolute;
  width: 100%;
  border: 4px solid black;
  font-size: 2.2em;
  border-radius: 2em;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 28%;
}
.card-question-number {
  width: 6.5%;
  height: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  border-radius: 2em;
  font-size: 1em;
  font-weight: 900;
  background-color: #FFC524;
  float: left;
  margin-top: 4.8%;
  margin-left: 2%;
}
.card-question-text {
  width: 85%;
  float: right;
  text-align: left;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 3%;
}
.card-timer {
  width: 6%;
  height: 8.5%;
  border: 2px solid black;
  border-radius: 2em;
  position: absolute;
  top: 47.6%;
  left: 46.7%;
  font-size: 2em;
  display: flex;
  padding-top: 0.5%;
  padding-left: 0.1%;
  justify-content: center;
  background: #FF301A;
}
.card-answer {
  position: absolute;
  top: 23%;
  width: 100%;
  height: 47%;
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
}
.card-answer li {
  position: relative;
  width: 49%;
  height: 90px;
  border: 4px solid black;
  border-radius: 2em;
  font-size: 1.5em;
  transition: background 0.3s;
  text-align: center;
  word-break: break-word;
  cursor: pointer;
  margin-bottom: -30px;
}
.card-answer #text {
  border: 1px solid black!;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  box-sizing: border-box;
}
.card-answer #let {
  border: 4px solid black;
  border-radius: 2em;
  width: 10%;
  height: 38%;
  position: absolute;
  margin-top: 5.6%;
  margin-left: 3%;
  padding-top: 1%;
  background-color: #FFC524;
}
.next-button {
  position: absolute;
  width: 20%;
  height: 8%;
  bottom: 14%;
  left: 40%;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 40px;
  transition: background 0.3s;
  text-decoration: none;
  outline: none;
  background-color: #FFC524;
  font-family: "Montserrat", serif;
}
.show-result-button {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 150px;
  height: 60px;
  font-size: 1em;
  border-radius: 40px;
  font-weight: 700;
  transition: background 0.3s;
  outline: none;
  background-color: #FFC524;
  text-align: center;
}
.results {
  position: relative;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  font-size: 2em;
  margin: 50px auto;
  text-align: center;
  box-sizing: border-box;
  padding-top: 50px;
}
.results-points {
  position: absolute;
  top: 30%;
  height: 70%;
  width: 100%;
  left: 0;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  position: absolute;
  top: 10%;
  left: 19%;
  display: hidden;
}
table tr:first-child{
  font-weight: bold;
  font-size: 1.2em;
  background-color: #FFC524;
}
table td {
  border: 3px solid black;
  padding: 10px;
}

/* Element effects */
.next-button:hover {
  background-color: #FFF321;
  cursor: pointer;
}
.next-button:active {
  background-color: #FFC524;
}
.show-result-button:hover {
  background-color: #FFF321;
  cursor: pointer;
}
.show-result-button:active {
  background-color: #FFC524;
}
.choosed {
  background-color: #5FC900;
}
.hidden {
  display: none;
}
.show {
  display: block;
  animation: showBlock 1s linear;
}
@keyframes showBlock {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
